/* You can add global styles to this file, and also import other style files */
/* src/styles.scss or src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Usar imagen local en assets/ */
  background-image: url('assets/pediatria3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}